.sudoku-cell {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid black;
  background-color: #ffffff;

  input {
    height:100%;
    width:100%;
    text-align: center;
    box-sizing: border-box;
  }  
}

.readonly-cell {
  font-weight: bold;
  background-color: #ecf0f1;
}


.cell-square-right-border {
  border-top: 2px solid black;
}

.cell-square-bottom-border {
  border-top: 2px solid black;
}