.sudoku-table {
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 2px solid #2c3e50;
	padding: 0;
	width: 50%;
	margin: 10px;

	.sudoku-row {
		display: flex;
		width: 100%;
		margin: auto;
		align-items: center;
	}
}